<h1>API</h1>

<h2>GET</h2>
<pre>
/api/user/:user
/api/user/:user/public_indices
/api/user/:user/private_indices
/api/file/:size/sha2_512/:sha2_512
/api/object/:object_id
/api/commits/:index_id
/api/index/:index_id
/api/snapshot/:commit_id
/api/commit/:commit_id
/api/list/files
/api/list/files/:from/:limit
<pre>

<h2>POST</h2>
<pre>
/api/push/:index_name
</pre>
