<% if resp.commit %>
<h1>Commit <%= resp.commit.link %></h1>
<%= create_rtable(%w(id index message commited_at pushed_at rid),
[resp.commit.link, resp.commit.index_link, resp.commit.message, resp.commit.commited_at, resp.commit.pushed_at, resp.commit.rid]
                 )
%>
<% else %>
<h1>Hidden Commit</h1>
<% end %>

<h1>Objects</h1>
<%= create_table(%w(id file created_at removed filename resource_identifier),
resp.objects.map { |object| [object.link, object.file_link, object.created_at, object.removed, object.filename, object.resource_identifier] }
                )
%>
