<h1>File <%= resp.file.link %></h1>
<%= create_rtable(%w(size sha2_512), [resp.file.size, resp.file.sha2_512]) %>

<%= create_table(%w(object commit removed created_at filename resource_identifier),
resp.objects.map { |o| [o.link, o.commit_link, o.removed, o.created_at.to_s, o.filename, o.resource_identifier] }
)%>
