<h1>File <%= resp.file.link %></h1>
<%= create_rtable(%w(size sha2-512), [resp.file.size, resp.file.sha2_512]) %>

<%= create_table(%w(object-id commit-id removed created_at name path),
resp.objects.map { |o| [o.link, o.commit_link, o.removed, o.created_at.to_s, o.name, o.path.inspect ] }
#resp.objects.map { |o| [o.link, o.commit_link, o.removed, o.created_at, o.name, o.path] }
)%>
