<h1>Object <%= resp.object.link %></h1>
<%= create_rtable(%w(id file commit created_at removed filename resource_identifier), [resp.object.link, resp.object.file_link, resp.object.commit_link, resp.object.created_at, resp.object.removed, resp.object.filename, resp.object.resource_identifier]) %>
