<h1>Root Index <%= resp.user.link %></h1>

<%= create_table(%w(id name display_name removed? created_at removed_at updated_at root_index from_index anon hidden filename resource_identifier push_time commit_time message file_time), resp.indices.map { |i| [i.link, i.name, i.display_name, i.removed, i.created_at, i.removed_at, i.updated_at, i.root_link, i.from_link, i.anon, i.hidden, i.filename, i.resource_identifier, i.push_time, i.commit_time, i.message, i.file_time] } ) %>
