<h1>Root Indices <%= resp.user.link %></h1>

<%= create_table(%w(index_link root_link name display_name removed? created_at removed_at update_at), resp.indices.map { |i| [i.link, i.root_link, i.name, i.display_name, i.removed, i.created_at, i.removed_at, i.updated_at] } ) %>
