<h1>Root Indices <%= resp.user.link %></h1>

<%= create_table(%w(id name display_name removed? created_at removed_at update_at root_index from_index), resp.indices.map { |i| [i.link, i.name, i.display_name, i.removed, i.created_at, i.removed_at, i.updated_at, i.root_link, i.from_link] } ) %>
